* {
  box-sizing: border-box;
}

/*body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}*/

body {
  background-color: rgb(35 39 47);
  /* Grabbed from the React tutorial page */
  font-family: Helvetica;
  opacity: 0.9;
}

/*
h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}
*/

h1,
h2,
h3,
h4 {
  font-family: Helvetica;
  color: rgb(35 39 47);
}

hr {
  border-color: rgb(35 39 47);
}

:link {
  text-decoration: none;
  color: #4d5aa0;
}

/* for unvisited links */
:visited {
  text-decoration: none;
  color: #644451;
}

/* for visited links */
a:hover {
  text-decoration: underline;
  color: blue;
}

/* when mouse is over link */
code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

.bigdiv {
  background-color: rgb(88 196 220);
  color: rgb(35 39 47);
  /*Color grabbed from the React tutorial page*/
  /*#19181a;*/
  width: 800px;
  margin: auto;
  padding: 18px;
  /*padding-top:0; */
  opacity: 1.0;
  /*border:2px solid #BADA55*/
  /* bad ass border, for debugging */
  overflow: hidden;
}

.jsapp {
  display: flex;
  justify-content: center;
  width: auto;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}